src/main/mule/global/travelontip-externalsystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="travelontip-externalsystemFlow" doc:id="380f5ab0-e305-42f6-9281-a72709b58c16" >
		<http:listener doc:name="Listener" doc:id="0df9baf8-a364-4050-9e97-1cd4687bdac6" config-ref="HTTP_Listener_config" path="${http.listener.path}">
			<http:error-response statusCode="#[vars.statusCode as Number]" >
				<http:body ><![CDATA[#[vars.errorMsg default "Critical Error"]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="52fd45e8-49c7-4119-a636-a2e1f1667b62">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="serviceType"><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.serviceType]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8fd27c4a-7b17-4923-8e20-002a7176ee9d" message="Request Received for TravelOnTip External System For TransactionId: #[vars.transactionId]"/>
		<choice doc:name="Choice" doc:id="14c33373-e02f-4ad7-9768-1314a82b6131">
			<when expression='#[vars.serviceType == "routes"]'>
				<logger level="INFO" doc:name="Logger" doc:id="1fdc71cc-ef86-4b1a-a836-c146b7ff886b" message="Routes flow called for TravelOnTip External System For TransactionId: #[vars.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="a87af121-cbc3-4362-94e4-4ed1b997f93e" name="TravelOnTip-GetRoutes-ImplementationSub_Flow" />
			</when>
			<when expression='#[vars.serviceType == "schedules"]'>
				<logger level="INFO" doc:name="Logger" doc:id="528cdc64-a4ef-4e8b-b273-c52b952ea9b8" message="Schedule flow called for TravelOnTip External System For TransactionId: #[vars.transactionId]" />
				<flow-ref doc:name="Flow Reference" doc:id="1559d268-ed22-4e08-a5ab-d77dc11af8b7" name="TravelOnTip-GetSchedules-ImplementationSub_Flow" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="6a822c33-fbb1-44b7-8c84-cab4b01ac84a" message="URI Parameter Is Not Correct For TravelOnTip External System For TransactionId: #[vars.transactionId]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="b7e597f6-ad84-48a0-9c1c-0a017ede8752" message="Response Sent For TravelOnTip External System For TransactionId: #[vars.transactionId]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="a8aa98e7-b763-4a80-900b-791e2b590135" >
				<logger level="INFO" doc:name="Logger" doc:id="f9679c49-7d28-46eb-ab06-57a36c7efb77" message="Error Occured for TravelOnTip External System For TransactionId: #[vars.transactionId] reason: #[error.errorMessage] error Type: #[error.errorType]"/>
				<ee:transform doc:name="Transform Message" doc:id="c9ff245d-06a8-425e-97de-539439800cb8" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="statusCode" ><![CDATA[%dw 2.0
output application/json
---
500]]></ee:set-variable>
						<ee:set-variable variableName="errorMsg" ><![CDATA[%dw 2.0
output application/json
---
{
	"ErrorCode": "XE1023",
	"ErrorMessage": "Error in TravelOnTip System"
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
